.container {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.description {
  width: 60%;
  padding: 2em;
  margin-top: 3em;
}

.div-photo {
  width: 40%;
}

div img {
  margin-top: 3em;
  width: 24em;
  border-radius: 50%;
}

h2 {
  overflow: hidden;
  animation: reveal 2s ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .description {
    width: 100%;
    padding: 0;
  }
  .div-photo {
    display: none;
  }
}
