.footer {
  background-color: #000;
  width: 100%;
  height: 4em;
  margin-top: 50px;
}

.copyright {
  padding: 0.6em;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
