.container-xp {
  display: flex;
  justify-content: space-around;
  padding: 6em;
  background-color: #000;
  color: aliceblue;
}

.description-xp {
  width: 30%;
  padding: 0;
}

.xp-list {
  height: 2em;
  padding: 0.4em;
  margin-right: 4em;
  background-color: lightgray;
  color: red;
  border-radius: 0.2em;
}

.container-description-xp {
  width: 70%;
}

h3 {
  overflow: hidden;
  animation: reveal 2s ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .container-xp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .description-xp {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .xp-list {
    display: none;
  }

  .container-description-xp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}
