.container {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.description {
  width: 60%;
  padding: 2em;
}

.div-photo {
  width: 40%;
}

div img {
  width: 24em;
  border-radius: 50%;
}

h2 {
  overflow: hidden;
  animation: reveal 2s ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
